body {
  background-image: url(Stresss2.png);
  overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .button {
    background-color: #d66a7a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .button {
    background-color: white; 
    color: black; 
    border: 2px solid #d66a7a;
    font-weight:bolder;
    width: 20vw;
  }
  
  .button:hover {
    background-color: #d66a7a;
    color: white;
  }
  
  /*.btnSlpCasts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 50px;
    background-color: yellow;
    font-weight: bolder;
    color: black;
  }

  .btnMusicSnd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 50px;
    background-color: magenta;
    font-weight: bolder;
    color: black;
  }*/

  p {
    font-size: 24px;
    line-height: 1.5;
    font-weight: bolder;
    text-align: justify;
    color: black;
    background-color: #ab546180;
    margin-left: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 60px;
    font-size: 17px;
    font-family: Rockwell;
    border-radius: 15px;

  }

  #h1 {
    text-align: center;
    font-size: 50px; 
  }

  nav
  {
    left: -13px;
    padding-right: 17px;
    position: relative;
    top: -18px;
    width: 102dvw;
    display: block;
    height: 60px;
  }
  
  nav > ul 
  {
    margin-top: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
  }
  
  nav > ul > li
  {
    margin-right: 30px;
    margin-top: 10px;
    list-style-type: none
  }
  
  nav > ul > li > a
  {
  text-decoration: none;
  color: white;
}


nav {
  text-align: center;
  background-color: #d66a7a;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

li {
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: right;
}

a:hover {
  color: red;
}

img
{
  margin-top: -20px;
  width: 120px ;
  height: 60px;
}

.nv {
  display: inline-block;
  margin: 0px;
  text-align: center;
}

#if1 {
  margin-left: 0px;
  border-radius: 30px;
}

#if2 {
  margin-right: 0px;
  border-radius: 30px;
}

iframe {
  align-self: initial;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #d66a7a;
  border-radius: 6px;
}
li b
{
    color: black;
    background-color: #E77B7A80;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 17px;
}
.vid{
  border-radius:30px;
}
.video{
  width: 560px; 
  height:315px;
  border-radius: 30px;
}