body {
  background-image: url(Stresss2.png);
  background-size:cover ;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

#h1 {
  color: black;
  text-align: center;
  font-size: 70px;
}


p {
  font-size: 30px;
  line-height: 1.5;
  color: black;
} 

li {
  list-style-type: disc;
  margin-bottom: 10px;
}

li b {
  color: black;
  background-color: #ab546180;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 17px;  
}

/*.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 50px;
  background-color: #d66a7a;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 3px 5px #000000;
  transform: scale(2);
}*/

.footer{
  color: white;
  font-size: 18px;
  text-align: center;
  width: 1300px;
  margin-left: -8px;
  position: fixed;
  bottom: 0px;
  background-color: #d66a7a;
  line-height: 3;
  text-shadow: 1px 3px 5px #000000;
  font-weight: bolder;
}

.button {
  background-color: #d66a7a;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #d66a7a;
  font-weight:bolder;
}

.button:hover {
  background-color: #d66a7a;
  color: white;
}

/*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

section {
  position: relative;
  left: 100px;
}

nav {
  float: left;
	position: relative;
	top: 0;
  left: 0;
	background: transparent;
}

nav ul {
	text-align: center;
}

nav ul li {
    position: relative;
    width: 70px;
    cursor: pointer;
    background: #d66a7a;
    text-transform: uppercase;
    transition: all .4s ease-out;
    color: white;
	margin-left: -50px;
}

nav ul li:after {
	float: left;
    position: absolute;
    background: white;
    color: #d66a7a;
    top: 0;
    left: 70px;
    width: 70px;
    height: 100%;
    opacity: .5;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: 0 100%;
    transition: all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "Meditation";
  font-size: 11px;
	line-height: 88px;
	color: #d66a7a;
	font-weight: bolder;
}
nav ul li:nth-child(2):after { 
	content: "Yoga";
	line-height: 88px;
	color: #d66a7a;
	font-weight: bolder;
}
nav ul li:nth-child(3):after { 
	content: "Sleep";
	line-height: 85px;
	color: #d66a7a;
	font-weight: bolder;
}
nav ul li:nth-child(4):after { 
	content: "Anxiety";
	line-height: 70px;
	color: #d66a7a;
	font-weight: bolder;
}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}


nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }

.roof {
	width: 0;
	height: 0;
	top:2px;
	border-style: solid;
	border-width: 0 21px 15px 21px;
	border-color: transparent transparent white transparent;
}

.roof-edge {
	position: absolute;
	z-index: 20;
	left: -17px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 12px 17px;
	border-color: transparent transparent #d66a7a transparent;
}
/*white triangle over red triangle
.roof-edge:after {
	position: absolute;
	left: -14.5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14.5px 10px 14.5px;
	border-color: transparent transparent white transparent;
}

.front {
	position: relative;
	top: 3px;
	width: 28.5px;
	height: 20px;
	margin: 0 auto;
	background: white;
}
/*door
.front:after {
	position: absolute;
	background: #d66a7a;
	width: 11px;
	height: 13px;
	bottom: 0;
	left:9px;
}


.head {
	width: 32px;
	height: 35px;
	background: white;
	border-radius:8px;
  color:white
}
/*mouth
.head:after {
	width: 4px;
	height: 10px;
	background: white;
	position: absolute;
	border-radius:4px 0 0 4px;
	top:21px;
	left: 14px;
	transform:rotate(270deg);
}

.eyes {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 5px;
	background: #d66a7a;
}
/*right eye
.eyes:after {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 14px;
	background: #d66a7a;
}

.beard {
	width: 32px;
	height: 17px;
	background: #d66a7a;
	border:2px solid white;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius:0 0 8px 8px;
}
/*nose
.beard:after {
	position: absolute;
	top:-2px;
	left: 11px;
	background: white;
	width:6px;
	height: 4px;
	border-left:1px solid #d66a7a;
	border-right:1px solid #d66a7a;
}

.paper {
	position: relative;
	height:32px;
	width: 29px;
	background: white;
	border:2px solid white;
}

/*windo
.paper:after {
	position: absolute;
	top:1px;
	left: 0;
	width: 25px;
	height: 29px;
	background: white;
	border-top:4px solid #d66a7a;
}

.lines {
	position: absolute;
	top: 36px;
	left: 5px;
	width: 11px;
	box-shadow: 0 0 0 1px #d66a7a;
}

.lines:after {
	position: absolute;
	top: 4px;
	left: 3px;
	width: 14px;
	box-shadow: 0 0 0 1px #d66a7a;
}

.lines:nth-child(2) {
	position: absolute;
	top: 44px;
	left: 8px;
	width: 11px;
}

.lines:nth-child(2):after {
	position: absolute;
	top: 4px;
	left: -3px;
	width: 11px;
}

.lines:nth-child(3) {
	position: absolute;
	top: 52px;
	left: 8px;
	width: 14px;
}

.lines:nth-child(3):after {
	display: none;
}

.mail-base {
	position: relative;
	width: 32px;
	height: 18px;
	background: white;
}

.mail-top {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	transform: rotate(180deg);
	border-style: solid;
	border-width: 0 16px 11px 16px;
	border-color: transparent transparent #d66a7a transparent;
}

.mail-top:after {
	position: absolute;
	z-index: 20;
	left: -16px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 16px 9px 16px;
	border-color: transparent transparent white transparent;
}

nav
  {
    left: -550px;
    padding-right: 5px;
    position
    top: -18px;
    width: 102dvw;
    display: block;
    height: 60px;
    text-align: center;
    background-color: #d66a7a;
    float: left;
  }

  nav > ul 
  {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
  }
  
  nav > ul > li
  {
    
    margin-right: 30px;
    margin-top: 10px;
    list-style-type: none;
  }
  
  nav > ul > li > a 
  {
    text-decoration: none;
    color: white;
  }
  
  ul {
    padding: 10px;
    list-style-type: none;
    margin: 10px;
  }
  
  li {
    margin-right: 0px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: right;
  }
  
  a:hover {
    color: red;
  }
  
  img
  {
    width: 120px ;
    height: 60px;
    margin-top: -20px;
    
  }
  
  .nv {
    display: inline-block;
    margin: 0px;
    text-align: center;
    
  }*/

  nav
  {
	color: #e7acac;
	padding-top: -5px;
  }